In [2]:
import pandas as pd

In [5]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Retrieve the API key
api_key = os.getenv('MAP_KEY')

# Check if the API key is loaded successfully
if api_key is None:
    raise ValueError("API_KEY not found in environment variables.")

In [6]:
da_url = 'https://firms.modaps.eosdis.nasa.gov/api/data_availability/csv/' + api_key + '/all'
df = pd.read_csv(da_url)
df

            data_id    min_date    max_date
0         MODIS_NRT  2024-06-01  2024-09-22
1          MODIS_SP  2000-11-01  2024-05-31
2  VIIRS_NOAA20_NRT  2019-12-04  2024-09-22
3  VIIRS_NOAA21_NRT  2024-01-17  2024-09-22
4    VIIRS_SNPP_NRT  2024-04-01  2024-09-22
5     VIIRS_SNPP_SP  2012-01-20  2024-03-31
6       LANDSAT_NRT  2022-06-20  2024-09-22
7          GOES_NRT  2022-08-09  2024-09-22
8          BA_MODIS  2000-11-01  2024-04-01

In [70]:
# use 1,5,2

In [71]:
MODIS_SP_DF=pd.DataFrame()

In [72]:
from datetime import datetime, timedelta

start_date = datetime(2000, 11, 1)
end_date = datetime(2012, 1, 19)

current_date = start_date
while current_date <= end_date:
    dt=current_date.strftime('%Y-%m-%d')
    area_url = 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/' + MAP_KEY + '/MODIS_SP/-125.0,24.396,-66.934,49.384/1/'+dt
    df_area = pd.read_csv(area_url)
    MODIS_SP_DF=pd.concat([MODIS_SP_DF,df_area],ignore_index=True)
    current_date += timedelta(days=1)

In [73]:
len(MODIS_SP_DF)

1215757

In [91]:
# MODIS_SP_DF.to_csv('../Datasets/MODIS_SP_DF1.csv',index=False)

In [92]:
pd.read_csv('../Datasets/MODIS_SP_DF1.csv')

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,38.5422,-78.3047,304.8,2.8,1.6,2000-11-01,250,Terra,MODIS,23,6.03,280.9,40.3,N,0
1,38.5451,-78.3107,309.9,2.8,1.6,2000-11-01,250,Terra,MODIS,79,6.03,280.7,58.8,N,0
2,38.5563,-78.3084,309.4,2.8,1.6,2000-11-01,250,Terra,MODIS,70,6.03,280.4,54.5,N,0
3,38.5586,-78.3170,302.3,2.8,1.6,2000-11-01,250,Terra,MODIS,45,6.03,279.8,36.0,N,0
4,31.3393,-89.9124,304.9,1.0,1.0,2000-11-01,427,Terra,MODIS,62,6.03,287.5,8.5,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215752,33.4476,-114.6882,324.3,1.5,1.2,2012-01-19,2111,Aqua,MODIS,78,6.03,297.7,30.3,D,0
1215753,36.0189,-119.1391,312.7,1.0,1.0,2012-01-19,2111,Aqua,MODIS,49,6.03,282.6,11.6,D,0
1215754,36.0886,-119.1716,302.9,1.0,1.0,2012-01-19,2111,Aqua,MODIS,34,6.03,283.8,6.6,D,0
1215755,39.3236,-119.8171,344.0,1.0,1.0,2012-01-19,2112,Aqua,MODIS,92,6.03,280.0,54.2,D,0
1215756,39.3252,-119.8052,375.4,1.0,1.0,2012-01-19,2112,Aqua,MODIS,100,6.03,282.0,142.8,D,0

In [77]:
VIIRS_SNPP_SP_DF=pd.DataFrame()

In [78]:
from datetime import datetime, timedelta
start_date = datetime(2012, 1, 20)
end_date = datetime(2024,1,16)
current_date = start_date
while current_date <= end_date:
    dt=current_date.strftime('%Y-%m-%d')
    area_url = 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/' + MAP_KEY + '/VIIRS_SNPP_SP/-125.0,24.396,-66.934,49.384/1/'+dt
    df_area = pd.read_csv(area_url)
    VIIRS_SNPP_SP_DF=pd.concat([VIIRS_SNPP_SP_DF,df_area],ignore_index=True)
    current_date += timedelta(days=1)

In [79]:
len(VIIRS_SNPP_SP_DF)

6489460

In [82]:
# VIIRS_SNPP_SP_DF.to_csv('../Datasets/VIIRS_SNPP_SP_DF.csv',index=False)

In [87]:
pd.read_csv('../Datasets/VIIRS_SNPP_SP_DF.csv')

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type
0,42.80534,-80.09772,331.67,0.49,0.65,2012-01-20,618,N,VIIRS,n,2,262.74,3.25,N,2
1,42.81144,-80.09736,313.46,0.49,0.65,2012-01-20,618,N,VIIRS,n,2,259.67,3.25,N,2
2,39.21458,-76.47921,328.70,0.59,0.53,2012-01-20,619,N,VIIRS,n,2,271.66,4.49,N,0
3,39.21772,-76.47841,328.31,0.59,0.53,2012-01-20,619,N,VIIRS,n,2,272.87,5.18,N,0
4,40.39349,-79.85354,334.53,0.46,0.63,2012-01-20,619,N,VIIRS,n,2,265.82,5.03,N,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6489455,34.32334,-117.83656,331.10,0.39,0.36,2024-01-16,2057,N,VIIRS,n,2,286.87,3.33,D,0
6489456,36.16388,-115.66432,347.90,0.47,0.40,2024-01-16,2058,N,VIIRS,n,2,290.56,5.90,D,0
6489457,36.16447,-115.65931,334.89,0.47,0.40,2024-01-16,2058,N,VIIRS,n,2,286.31,5.90,D,0
6489458,38.67045,-119.80280,339.12,0.39,0.36,2024-01-16,2059,N,VIIRS,n,2,277.41,10.38,D,0
6489459,39.53944,-112.29935,331.21,0.49,0.49,2024-01-16,2059,N,VIIRS,n,2,280.49,5.61,D,0

In [105]:
VIIRS_NOAA21_NRT_DF=pd.DataFrame()

In [106]:
from datetime import datetime, timedelta
start_date = datetime(2024,1,17)
end_date = datetime(2024,9,1)
current_date = start_date
while current_date <= end_date:
    dt=current_date.strftime('%Y-%m-%d')
    area_url = 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/' + MAP_KEY + '/VIIRS_NOAA21_NRT/-125.0,24.396,-66.934,49.384/1/'+dt
    df_area = pd.read_csv(area_url)
    VIIRS_NOAA21_NRT_DF=pd.concat([VIIRS_NOAA21_NRT_DF,df_area],ignore_index=True)
    current_date += timedelta(days=1)

In [107]:
len(VIIRS_NOAA21_NRT_DF)

350863

In [110]:
# VIIRS_NOAA21_NRT_DF.to_csv('../Datasets/VIIRS_NOAA21_NRT_DF.csv',index=False)

In [111]:
pd.read_csv('../Datasets/VIIRS_NOAA21_NRT_DF.csv')

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,40.15311,-74.76882,316.00,0.47,0.40,2024-01-17,707,N21,VIIRS,n,2.0NRT,265.24,1.95,N
1,41.36594,-84.92117,325.52,0.57,0.43,2024-01-17,707,N21,VIIRS,n,2.0NRT,257.20,4.74,N
2,41.45065,-81.67569,329.77,0.43,0.38,2024-01-17,707,N21,VIIRS,n,2.0NRT,262.23,4.78,N
3,41.61681,-87.33256,309.08,0.50,0.49,2024-01-17,707,N21,VIIRS,n,2.0NRT,258.86,4.23,N
4,41.62082,-87.32598,330.33,0.50,0.49,2024-01-17,707,N21,VIIRS,n,2.0NRT,262.37,4.61,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350858,46.92488,-115.19395,346.22,0.43,0.38,2024-09-01,2042,N21,VIIRS,n,2.0NRT,304.32,11.56,D
350859,46.92831,-115.19494,339.06,0.43,0.38,2024-09-01,2042,N21,VIIRS,n,2.0NRT,305.63,11.56,D
350860,47.47063,-122.04916,329.90,0.42,0.38,2024-09-01,2042,N21,VIIRS,n,2.0NRT,298.05,2.96,D
350861,47.57163,-122.37090,333.35,0.43,0.38,2024-09-01,2042,N21,VIIRS,n,2.0NRT,302.97,8.27,D
350862,48.38913,-120.62041,335.09,0.39,0.36,2024-09-01,2042,N21,VIIRS,l,2.0NRT,306.09,6.48,D

In [118]:
# Creating one final concatenated dataframe
df1=pd.read_csv('../Datasets/MODIS_SP_DF1.csv')
df2=pd.read_csv('../Datasets/VIIRS_SNPP_SP_DF.csv')
df3=pd.read_csv('../Datasets/VIIRS_NOAA21_NRT_DF.csv')

In [119]:
df1 = df1.rename(columns={'brightness': 'bright_ti4','bright_t31':'bright_ti5'})
df1.columns

Index(['latitude', 'longitude', 'bright_ti4', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_ti5', 'frp', 'daynight', 'type'],
      dtype='object')

In [114]:
df2.columns

Index(['latitude', 'longitude', 'bright_ti4', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_ti5', 'frp', 'daynight', 'type'],
      dtype='object')

In [120]:
import numpy as np
df3['type'] = np.nan
df3.columns

Index(['latitude', 'longitude', 'bright_ti4', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_ti5', 'frp', 'daynight', 'type'],
      dtype='object')

In [121]:
wildfire_df=pd.concat([df1,df2,df3],ignore_index=True)

In [122]:
len(wildfire_df)

8056080

In [124]:
wildfire_df

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight,type
0,38.54220,-78.30470,304.80,2.80,1.60,2000-11-01,250,Terra,MODIS,23,6.03,280.90,40.30,N,0.0
1,38.54510,-78.31070,309.90,2.80,1.60,2000-11-01,250,Terra,MODIS,79,6.03,280.70,58.80,N,0.0
2,38.55630,-78.30840,309.40,2.80,1.60,2000-11-01,250,Terra,MODIS,70,6.03,280.40,54.50,N,0.0
3,38.55860,-78.31700,302.30,2.80,1.60,2000-11-01,250,Terra,MODIS,45,6.03,279.80,36.00,N,0.0
4,31.33930,-89.91240,304.90,1.00,1.00,2000-11-01,427,Terra,MODIS,62,6.03,287.50,8.50,N,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8056075,46.92488,-115.19395,346.22,0.43,0.38,2024-09-01,2042,N21,VIIRS,n,2.0NRT,304.32,11.56,D,NaN
8056076,46.92831,-115.19494,339.06,0.43,0.38,2024-09-01,2042,N21,VIIRS,n,2.0NRT,305.63,11.56,D,NaN
8056077,47.47063,-122.04916,329.90,0.42,0.38,2024-09-01,2042,N21,VIIRS,n,2.0NRT,298.05,2.96,D,NaN
8056078,47.57163,-122.37090,333.35,0.43,0.38,2024-09-01,2042,N21,VIIRS,n,2.0NRT,302.97,8.27,D,NaN
8056079,48.38913,-120.62041,335.09,0.39,0.36,2024-09-01,2042,N21,VIIRS,l,2.0NRT,306.09,6.48,D,NaN

In [126]:
wildfire_df.to_csv('../Datasets/wildfire_df.csv',index=False)